:root {
  --ground-background: var(--p-surface-50);
}

:root[class="theme-dark"] {
  --ground-background: var(--p-surface-950);
}

html {
  height: 100%;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  font-family:
    "Inter var",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol";
}

body {
  background-color: var(--ground-background);
  color: var(--p-text-color);
  font-size: 14px;
  margin: unset;

  /* TODO: It's doesnot work. why */
  transition-property: color, background-color, border-color;
  transition-duration: 5s;
  transition-timing-function: ease;
}

#app {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
